.popup__submit {
  width: 100%;
  max-height: 50px;
  background: #000000;
  border-radius: 2px;
  margin: 18px 0 37px;
  padding: 14px 0 18px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
    .popup__submit {
    max-height: 46px;
    margin: 45px 0 25px;
    padding: 14px 0;
    font-size: 14px;
    line-height: 17px;
  }
}