.popup {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  z-index: 3;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}
