.profile__pen-icon {
  margin: 0;
  padding: 0;
  max-width: 10px;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 450px) {
  .profile__pen-icon {
    max-width: 7.5px;
    margin: 5.25px 5.25px;
  }
}
