.profile__plus-icon {
  max-width: 22px;
  max-height: 22px;
  display: flex;
  position: relative;
}

@media screen and (max-width: 450px) {
  .profile__plus-icon {
    max-width: 16px;
    max-height: 16px;
  }
}
